.signInContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5; /* Light Gray background */
    font-family: 'Arial', sans-serif;
    padding: 20px; /* Added padding for small devices */
    box-sizing: border-box;
  }
  
  .goBackButton {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  
  .buttonConfirm {
    padding: 12px 24px;
    border-radius: 25px;
    border: none;
    background-color: #ffd700; /* Gold for primary buttons */
    color: #333333; /* Charcoal Gray for text */
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .buttonConfirm:hover {
    background-color: #e6b800; /* Slightly darker gold on hover */
    transform: scale(1.05); /* Slight scale effect on hover */
  }
  
  .formContainer {
    background-color: #ffffff; /* White background for form */
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1); /* Deeper shadow for elevation */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    border: 1px solid #003366; /* Deep Blue border */
  }
  
  .title {
    margin-bottom: 20px;
    color: #003366; /* Deep Blue */
    font-size: 1.6rem;
    text-align: center;
    font-weight: bold;
  }
  
  .inputForms {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
  
  .inputGroup {
    width: 100%;
  }
  
  .inputForm {
    width: 94%;
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #003366; /* Deep Blue border */
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .inputForm:focus {
    border-color: #ffd700; /* Gold border on focus */
    box-shadow: 0 0 8px rgba(255, 215, 0, 0.5); /* Gold shadow on focus */
  }
  
  .errorMessage {
    color: #dc143c; /* Crimson Red for error messages */
    font-size: 0.9rem;
    margin-top: 5px;
    text-align: left;
  }
  
  .signInButton {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  @media (max-width: 600px) {
    .formContainer {
      padding: 15px; /* Reduced padding for smaller screens */
      width: 90%; /* Adjusted width to fit better on small screens */
    }
  
    .title {
      font-size: 1.4rem; /* Reduced font size for title */
    }
  
    .inputForm {
        width:94%;
      font-size: 0.9rem; /* Slightly smaller font size for inputs */
      padding: 10px; /* Reduced padding for inputs */
    }
    
    .buttonConfirm {
      padding: 10px 20px; /* Reduced padding for buttons */
      font-size: 0.9rem; /* Smaller font size for buttons */
    }
  }
  