.navBarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 0 30px;
}

.navBarContainer .menu {
  width: fit-content;
}

.navBarContainer .imgContainer {
  cursor: pointer;
  width: 100px;
  height: 100px;
}
.navBarContainer .imgContainer img {
  width: 100%;
  height: 100%;
}
.logo {
  font-size: 90px;
}
