.villaFilterFormContainer {
  margin: 2rem 0;
  padding: 1rem;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-flow: column nowrap;
  gap: 16px;
}

.formInputsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
}

.formInputsContainer :global(.ant-form-item),
.formInputsContainer :global(.ant-input),
.formInputsContainer :global(.ant-input-number) {
  width: 100%;
  margin: 0;
}

.submitButtonFormItem {
  margin: 0;
}
